.btn {
  margin-right: 8px;
}

.usernames {
  font-size: 20px;
}

.sentence {
  font-size: 15px;
}

p span {
  display:block;
}

.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {

}
