.btn {
  margin-right: 8px;
}

.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
  margin-top: 10px;
}

.comment {
  opacity: 1;
}

.comment.ng-hide-add, .comment.ng-hide-remove {
  transition: 1s linear all;
}
